# Temporary files
*.tmp
*.temp
.DS_Store
Thumbs.db

# Backup files
*~
\#*\#
*.bak
*.swp
*.swo

# Log files
*.log
logs/

# Database files
*.db
*.db-shm
*.db-wal

# Language server and tool installations
node_modules/

# directory configuration
.dir-locals.el

mutt/cache
mutt/mailboxes

vim/.config/nvim/autoload/plug.vim.old

config/systemd/user/*.wants

karabiner.d/log
karabiner/.config/karabiner/automatic_backups/

kitty/.config/kitty/local.conf
