[Unit]
Description=Urxvt Terminal Daemon
Requires=urxvtd.socket

[Service]
Environment=RXVT_SOCKET=%h/.urxvt/urxvtd-%H
ExecStart=/usr/bin/urxvtd -o -q

[Install]
WantedBy=default.target
